#flexbox{
    flex: content;
    display: flex;
    gap: 10px;
    flex-direction: column;
    #bottom-information{
        display: flex;
        justify-content: space-between;
        #info-messager{
            color:dimgrey;
        }
        #button-container{
            display: flex;
            gap:20px;
            justify-content: end;
            button{
                width: auto;
            }
        }
    }
    
}
