
      <input [(ngModel)]="postPreview.Title" type="text">
      <editor
      [(ngModel)]="postPreview.Content"
      
      apiKey="no-api-key"
      [disabled]="false"
      id="editor"
      [init]="{ plugins: 'code help image lists link powerpaste table wordcount',
                base_url: '/tinymce',
                suffix: '.min'
              }"
      [inline]="false"
      toolbar="bold italic underline | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help"
      >
  </editor>

<button (click)="myTest()">Preview Post</button>
<app-article *ngIf="displaySetting" [post]="postPreview"></app-article>

