<div id="flexbox">
      <input [(ngModel)]="postNew.Title" type="text" placeholder="Title goes here" class="tox tox-tinymce">
      <editor [(ngModel)]="postNew.Content" apiKey="no-api-key" [disabled]="false" id="editor" [init]="{ plugins: 'code help image lists link table wordcount',
                      base_url: '/tinymce',
                      suffix: '.min'
                    }" [inline]="false"
            toolbar="undo redo | bold italic underline | blocks blockquote | formatpainter | aligncenter alignleft alignright alignjustify | selectall | ltr rtl | code | help">
      </editor>

  <div id="bottom-information">
    <div id="info-messager" #messageBoxElement>
      <div id="icon-container">
        @if (this.infoMessageIconType=='warning') {
          <fa-icon [icon]="faWarning"></fa-icon>
        }
        @if (this.infoMessageIconType=='success') {
          <fa-icon [icon]="faSquareCheck"></fa-icon>
        }
        @if (this.infoMessageIconType=='error') {
          <fa-icon [icon]="faSquareXmark"></fa-icon>
        }
        @if (this.infoMessageIconType=='load') {
          <mat-progress-spinner [diameter]="16"
          mode="indeterminate"></mat-progress-spinner>
        }
      </div>

      {{infoMessage}}
    </div>
    <div id="button-container">
      <button mat-flat-button (click)="previewPost()">
        <fa-icon [icon]="faEye"></fa-icon>
        Preview
      </button>
      <button mat-flat-button (click)="pushPostData()">
        <fa-icon [icon]="faUpload"></fa-icon>
        Publish
      </button>
    </div>
  </div>
  @if (previewDisplaySetting) {
    <app-article [post]="postPreview"></app-article>
  }
</div>