.workplace-container {
    display: flex;
    gap: 10px;
    height: 150px;
    padding-bottom: 20px;
    align-items: center;
    background:var(--image-bg) 100% 59% /200px no-repeat;
    border-radius: 15px;

    #image {
        height: 100%;

        img {
            margin-right: 10px;
            width: 130px;
        }
    }

    #company-employee-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #company {
            font-family: 'PoppinsMedium';
            font-size: 1.5rem;
        }

        #title {
            font-family: 'PoppinsLight';
            font-size: 1rem;
        }
    }
}
