.workplaces-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    color: #4d535a;
}

.tech-stack-container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    div {
        border-radius: 12px;
        padding: 4px 8px;

    }

    .good {
        background-color: lightgreen;
    }

    .average {
        background-color: lightgoldenrodyellow;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0;

        h1,
        h2 {
            margin: 0;
        }

    }

    .text {
        gap: 8px;
        transition: height 0.4s ease;
    }
}

.flexbox-adjust {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;

    .item {
        max-width: calc(49%);
        .item-text {
            padding: 10px;
            background-color: lightcyan;
            border-radius: 15px;
            height: 400px;
            overflow: scroll;
            ul, li{
                margin-left: 20px;
            }
        }

        h2 {
            padding-bottom: 10px;
        }
    }
}

app-work-item {
    padding: 0 15px;
    flex-grow: 1;
    border-radius: 5px;
}

.primary-work {
    background-color: lightgreen;
}

.secondary-work {
    background-color:rgb(243, 243, 243);
}

.max-width {
    max-width: none !important;
    flex-grow: 1;
}

.collapsed {
    overflow: hidden;
    height: 0;
    opacity: 0;
}