.article {
    min-height: 200px; // Set your desired minimum height

    h1 {
        font-family: 'Playfair', sans-serif;
        font-size: 3rem;
        text-align: right;
        margin-bottom: 0;
    }

    #articleDate {
        text-align: right;
    }

    #header {
        margin: 36px 0 35px 0;

        img {
            float: left;
            height: 80px;
            border-radius: 5px;
            margin-left: 15px;
        }
    }

}

