<ng-particles id="particles" [options]="particlesOptions" [particlesInit]="particlesInit"></ng-particles>

<div class="sidebarContainer">
    <img id="iconImage" src="assets/images/icont2.png">
    <h1>A splash of color won't hurt</h1>
    <h2>Fabiane Arruda</h2>
    <div class="linkContainer">
        <a href="https://github.com/lucifab" target="_blank" rel="noreferrer noopener">
            <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/fabiane-olenka-arruda/" target="_blank" rel="noreferrer noopener">
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://eagerladybug.tumblr.com" target="_blank" rel="noreferrer noopener">
            <fa-icon [icon]="faTumblr"></fa-icon>
        </a>
    </div>
</div>