.persons-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow-y: auto;
    width: 100%;

    img {
        width: 64px;
        height: 64px;
        border-radius: 100%;
    }
}

.bubble {
    overflow: hidden;
    height: 200px;
    background-color: lightblue;
    padding: 16px;
    border-radius: 0 16px 16px 16px;

    .quote {
        font-size: 5rem;
        color: white;
    }

    .top {
        float: left;
        position: relative;
        top: -30px;
    }

    p {
        padding: 0 33px;
        overflow-y: auto;
        height: 168px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        scrollbar-color: #75a2cc transparent;
        /* thumb color, track color */
    }

    p::-webkit-scrollbar-thumb {
        background-color: #75a2cc;
        /* space around thumb */
    }

    .bottom {
        float: right;
        position: relative;
        bottom: -108px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name {
    font-size: small;
    text-align: right;
    margin-right: 32px;
}