.bodyContainer {
    padding: 3vw;
    background-color: #ffffff;
    display: block;
    overflow-y: auto;
    flex-grow: 1;
    scrollbar-color: lightgrey transparent;
    scrollbar-width:thin;
}

.sidebar-wave {
    height: 100%;
    width: 100px;
    flex-shrink: 0;
}

.bodyContainer::-webkit-scrollbar-track {
    background-color: #ffffff;

}

.bodyContainer::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff;
}

.bodyContainer::-webkit-scrollbar-thumb {
    background-color: lightgrey;
}