.button{
    //Style
    background-color: white;
    height: 10vh;
    width: 10vh;
    padding:5px;
    border-radius: 1em;

    // Display
    display: flex;
    flex-direction: column;
    gap:3px;
    justify-content: center;
    align-items: center;

    // Font
    text-transform: uppercase;
    font-family: 'SourceSansProBlack';

    fa-icon{
        font-size: 25px;
    }
}
.button:hover{
    fa-icon{
        transition: color 0.5s ease;
        color:coral;
    }
    transition: color 0.5s ease;
    color:coral;
    background-color: rgb(148, 28, 146);
    transition: background-color 0.5s ease;
    cursor:pointer;
}