<div class="button" (click)="emitContentSelection('blog')">
    <fa-icon [icon]="faNewspaper"></fa-icon> Blog
</div>
<div class="button" (click)="emitContentSelection('work')">
    <fa-icon [icon]="faCode"></fa-icon> Work
</div>
<div class="button" (click)="emitContentSelection('art')">
    <fa-icon [icon]="faPalette"></fa-icon> Art
</div>
<div class="button" (click)="emitContentSelection('about')">
    <fa-icon [icon]="faPerson"></fa-icon> About
</div>
<div class="button" (click)="emitContentSelection('write')">
    <fa-icon [icon]="faPenNib"></fa-icon> Write
</div>