/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

@font-face {
    font-family: 'Playfair';
    src: url('assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'PlayfairItalic';
    src: url('assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('assets/fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('assets/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('assets/fonts/SourceSansPro-Black.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('assets/fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Tight';
    src: url('assets/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf');
}


@keyframes glow-success {
    0% {
        box-shadow: 0 0 5px rgba(30, 255, 0, 0.5);
    }

    15% {
        box-shadow: 0 0 15px rgb(0, 255, 38);
    }

    100% {
        box-shadow: 0 0 5px rgba(30, 255, 17, 0.5);
    }
}

@keyframes glow-error {
    0% {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    }

    15% {
        box-shadow: 0 0 15px rgb(255, 0, 0);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    }
}

@keyframes glow-warn {
    0% {
        box-shadow: 0 0 5px rgba(255, 230, 0, 0.5);
    }

    15% {
        box-shadow: 0 0 15px rgb(255, 230, 0);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 230, 0, 0.5);
    }
}


html,
body {
    height: 100%;
}

body {
    font-family: 'SourceSansPro', sans-serif;

    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato-Regular';
    }

    h1 {
        font-family: 'Playfair';
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
        font-family: 'Inter-Tight';
    }

    h3 {
        font-size: 1.4rem;
        font-family: 'Inter-Tight';
    }
}

table {
    margin: 10px 0;
    background: #1f1f1f;

    td {
        padding: 0 20px;
        color: #fff;
        font-family: consolas;
        font-size: 14px;
    }
}

.articleBody {
    font-family: 'SourceSansPro';
    font-size: large;
    letter-spacing: normal;
    text-align: justify;
    line-height: 30px;

    li {
        margin-bottom: 25px;
    }

    
    h3,
    h4,
    h5,
    h6 {
        font-family: 'PoppinsLight';
    }

    h1 {
        font-family: 'PoppinsMedium';
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
        font-family: 'PoppinsRegular';
    }

    h3 {
        font-size: 1.4rem;
    }
}

.glow {
    border: 3px solid lightblue;
}